*
  box-sizing border-box
  margin 0
  padding 0

ul
  list-style-type none

body
  background #eee
  font-family helvetica, arial, sans-serif
  color #333

h1
  font-weight 100
  color #666
  font-size 32px
  line-height 32px

.flash-messages
  li
    background #faffbd
    padding 10px 20px
    font-size 14px
    border-bottom solid 1px #ccc

.title-bar
  padding 20px 0

.form-gateway
  width 400px
  padding 15px 30px
  background #fafafa
  box-shadow 0 1px 10px rgba(0, 0, 0, 0.25)
  margin 30px auto

.input-text
  border-radius 3px
  font-size 18px
  color #666
  padding 10px 20px
  background-color #fff
  width 100%
  margin 0 0 10px 0
  border solid 1px #ddd

.button-bar
  padding-top 10px
  text-align right

.button-submit
  font-size 18px
  padding 10px 20px
  border solid 1px #ddd
  background #eee
  border-radius 3px
  margin 0 0 10px 0
  display inline-block

.dash-header
  width 100%
  background #fff
  padding 20px 20px 10px 20px
  vertical-align bottom

.half-drop
  width 50%
  display inline-block
  vertical-align bottom

.h-menu
  text-align right
  > li
    display inline-block
    margin-right 10px
    > a
      display inline-block

.micro
  font-size 14px
  color #999
  padding 5px