include ../flash/messages

!!! 5
html
  head
    meta(charset="utf-8")
    title Components test
    block styles
      link(rel='stylesheet', type='text/css', href='/shared/global.css')

body
  mixin messages()

  block content

  block scripts
