extends ../shared/layout

block title
  | Dashboard - Components test

block content
  .dash-header
    .half-drop
      h1.dash-title Dashboard
    .half-drop
      ul.h-menu
        li!= user.email
        li: a(href='/signout') Sign out
